<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" 
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" 
    crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    {{!-----------------------------------------------------------------Navbar---------------------------------------------------------------------------- --}}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
        <a class="navbarBrand col-md-3 text-center">Inventory Manager</a>
        
        <div class="collapse navbar-collapse justify-content-end" id="navContent">
            <ul class="navbar-nav">
                 <li class="nav-item">
                    <a class="nav-link text-center"  href="/user/profile">Profile View</a>
                </li>
                <li class="nav-item text-center">
                    <a class="nav-link" href="/user/logout">Logout</a>
                </li>
            
            </ul>
        </div>
    </nav>

    
    <h3 class="text-center text-white">Purchase Item</h3>
    <div class="card  col-3 hoverable inventoryCard z-depth-1">
        <div class="card-image waves-effect waves-block waves-light inventoryImage">
            <img class="activator" src="../../admin/productImages/{{entry.id}}.jpg">
        </div>
        <div class="card-content cardFront">
            <span class="font-weight-bolder card-title activator titleCard text-center ">{{entry.name}}<i class="btn btn-floating waves-effect waves-light cyan  accent-4 material-icons right inventoryIcon">arrow_upward</i></span>
            <span class="font-weight-bold card-title activator desc2 text-center">Cost: Rs {{entry.sellingprice}}</span>
            <form action="/user/order" method="POST">
                <input type="number" value="{{entry.id}}" name="productid" hidden>
                <input type="text" value="{{entry.name}}" name="productname" hidden>
                <input type="number" value="{{entry.sellingprice}}" name="price" hidden>
                <input type="number" value="{{entry.quantity}}" name="stockavailable" hidden>
                <input type="text" name="name" placeholder="Name">
                <input type="number" name="quantityordered" placeholder="Quantity">
                <input type="text" name="phoneno" placeholder="Phone Number">
                <input type="text" name="address" placeholder="Address">
                <input type="submit" value="Place Order" class="btn" id="buy">
            </form>

        </div>
        
        <div class="card-reveal">
            <div class="card-title  font-weight-bold text-light">{{entry.name}}<i class="btn btn-floating waves-effect waves-light light-blue material-icons right inventoryIcon">arrow_downward</i></div>
                            
            <table class="table text-light">
                <tr>
                    <th class="text-center">Product Id</th>
                    <td class="text-center">{{entry.id}}</td>
                </tr>
                <tr>
                    <th class="text-center">Company Name</th>
                    <td class="text-center">{{entry.companyname}}</td>
                </tr>
            
                <tr>
                    <th class="text-center">Price</th>
                    <td class="text-center">{{entry.sellingprice}}</td>
                </tr>
                <tr>
                    <th class="text-center">Quantity Available</th>
                    <td class="text-center">{{entry.quantity}}</td>
                </tr>
                
                <tr>
                    <th class="text-center">Description</th>
                    <td class="text-center">{{entry.description}}</td>
                </tr>
            </table>
            
        </div>
    </div>
    {{!-- <form action="/user/order" method="POST">
        <h1>Product ID : {{entry.id}}</h1><input type="number" value="{{entry.id}}" name="productid" hidden>
        <img src='../../admin/productimages/{{entry.id}}.jpg' width='200'>
        <h1>Product Name : {{entry.name}}</h1><input type="text" value="{{entry.name}}" name="productname" hidden>
        <h1>Company Name : {{entry.companyname}}</h1>
        <h1>Price : {{entry.sellingprice}}</h1><input type="number" value="{{entry.sellingprice}}" name="price" hidden>
        <h1>Stock Available : {{entry.quantity}}</h1><input type="number" value="{{entry.quantity}}" name="stockavailable" hidden>
        <h1>Description : {{entry.description}}</h1>
        <h3>Enter No. of Items to Order : <input type="number" name="quantityordered"></h3>
        <h3>Enter Name : <input type="text" name="name"></h3>
        <h3>Enter Phone No. : <input type="text" name="phoneno"></h3>
        <h3>Enter Address : <input type="text" name="address"></h3>
        <input type="submit" value="Place Order">
    </form> --}}
     <link rel="stylesheet" href="../../consumer/buyproduct/style.css">

</body>
</html>