<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/user/profile">Go To Profile</a>
    <h1>Your Bill Details</h1>
    <h1>Transaction ID : {{item.id}}</h1>
    <h1>Product ID : {{item.productid}}</h1>
    <h1>Product Name : {{item.productname}}</h1>
    <h1>Price : {{item.price}}</h1>
    <h1>Quantity Ordered : {{item.quantityordered}}</h1>
    <h1>Bill Amount : {{item.billamount}}</h1>
    <h1>Username : {{item.username}}</h1>
    <h1>Name : {{item.name}}</h1>
    <h1>Phone No. : {{item.phoneno}}</h1>
    <h1>Address : {{item.address}}</h1>
</body>
</html>