<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/user/logout">Log Out</a><br><br>
    <a href="/user/addproduct">Request to Add Product</a>

    <h1>Available Items</h1>
    <table border=2 cellspacing="5" cellpadding="5">
        <thead>
            <th>Product ID</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Company Name</th>
            <th>Price</th>
            <th>Stock Available</th>
            <th>Description</th>
            <th>Buy</th>
        </thead>
        {{#each products as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td><img src='../../admin/productimages/{{item.id}}.jpg' width='200'></td>
                <td>{{item.name}}</td>
                <td>{{item.companyname}}</td>
                <td>{{item.sellingprice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>
                    <form action="/user/buy" method="POST">
                        <input type="number" value="{{item.id}}" name="id" hidden>
                        <input type="submit" value="Buy">
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>

    <h1>Personal Transactions</h1>
    <table border=2 cellspacing="5" cellpadding="5">
        <thead>
            <th>Transaction ID</th>
            <th>Product ID</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity Ordered</th>
            <th>Bill Amount</th>
            <th>Username</th>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Address</th>
        </thead>
        {{#each personal_transactions as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td>{{item.productid}}</td>
                <td><img src='../../admin/productimages/{{item.productid}}.jpg' width='200'></td>
                <td>{{item.productname}}</td>
                <td>{{item.price}}</td>
                <td>{{item.quantityordered}}</td>
                <td>{{item.billamount}}</td>
                <td>{{item.username}}</td>
                <td>{{item.name}}</td>
                <td>{{item.phoneno}}</td>
                <td>{{item.address}}</td>
            </tr>
        {{/each}}
    </table>

    <h1>My Product Requests</h1>
    <table border=2 cellspacing="5" cellpadding="5">
        <thead>
            <th>Product ID</th>
            <th>Product Image</th>
            <th>Product Name</th>
            <th>Company Name</th>
            <th>Cost Price</th>
            <th>Quantity</th>
            <th>Description</th>
            <th>Time Of Request</th>
            <th>Status</th>
        </thead>
        {{#each tempproducts as |item|}}
            <tr>
                <td>{{item.id}}</td>
                <td><img src='../../consumer/productimagestemp/{{item.id}}.jpg' width='200'></td>
                <td>{{item.name}}</td>
                <td>{{item.companyname}}</td>
                <td>{{item.costprice}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.description}}</td>
                <td>{{item.time}}</td>
                <td>{{item.status}}</td>
            </tr>
        {{/each}}
    </table>
</body>
</html>